
body {
    font-family: 'Montserrat';
    background-color: #0c0641;
    text-align: center;
    color: azure;
}

header {
    background-color: #00022E;
}

nav a {
    text-decoration: none;
    color: #00022E;
    background-color: azure;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


h1 {
    color: azure;
}

footer {
    background-color: #00022E;
    color: azure;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
}


a {
    color: azure; 
    text-decoration: none; 
}

a:hover {
    color: red; 
    text-decoration: underline; 
}

a:visited {
    color: green; 
}

a:active {
    color: orange;
}
